<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
  	<h1>
    	Welcome to {{ title }}
	</h1>
  	<hr>
 	<!--  <fruta></fruta>-->
	
	<!--  <empleados></empleados>-->

	<hr>
	<br>


	<h4>Formulario</h4>


	<input type="text" [(ngModel)]="elemento" placeholder="Añade un programa"/>
	<button (click)="addElement()">Añadir elemento</button>

	<ul>
		<li *ngFor="let programa of programas" class="programa-item">
			{{ programa }}
		</li>
	</ul>


	
  
 



</div>



