Plantilla Empleados en fichero html
<h3 style="color:blue;">{{titulo}}</h3>

<div class="wrapper">

	<strong>Empleado estrella: </strong>

	<ul>
		<li>
			{{empleados.nombre}}
		</li>
		<li>
			{{empleados.edad}}
		</li>
		<li>
			{{empleados.cargo}}
		</li>
		<li>
			{{empleados.contratado}}
		</li>
	</ul>
	<hr>

	<ul>
		<li>
			{{trabajadores[0].nombre}}
		</li>
		<li>
			{{trabajadores[0].edad}}
		</li>
		<li>
			{{trabajadores[0].cargo}}
		</li>
		<li>
			{{trabajadores[0].contratado}}
		</li>
	</ul>

</div>	

